.strMeal{
    color: #88631d;
    text-align:center;
    margin-bottom: 30px;
    transition: 0.3s;
    font-size: 18px;
}

.strMeal:hover{
    color: #f1b549;
}
.titleRandomMeals{
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 24px;
}
.latest-title{
    border-bottom: 3px  solid white;
}